.idea
.phpunit.cache
build
composer.lock
coverage
docs/.vitepress/dist
docs/.vitepress/cache
phpunit.xml
phpstan.neon
testbench.yaml
vendor
node_modules

public/vendor/bagistoplus/visual/editor.hot
public/vendor/bagistoplus/visual/admin.hot
!public/vendor/
