includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
    universalObjectCratesClasses:
        - BagistoPlus\Visual\Sections\Concerns\SettingsValues
    stubFiles:
        - stubs/Webkul/Theme/Theme.stub
        - stubs/Webkul/Theme/Themes.stub
    ignoreErrors:
        -
            message: '#Parameter \#1 \$column of method #'
            path: src/Http/Controllers/Admin/ThemeEditorController.php
        - '#Call to an undefined static method Webkul\\Checkout\\Facades\\Cart::[a-zA-Z0-9\\_]+#'
