@import 'nprogress/nprogress.css';

/* NProgress custom styling */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #3b82f6;
  position: fixed;
  z-index: 99999;
  top: 54px;
  left: 0;
  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: none;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #3b82f6, 0 0 5px #3b82f6;
  opacity: 1;
  /* transform: rotate(3deg) translate(0px, -4px); */
}
